{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "baseUrl": "./",
    "paths": {
      "~/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs" // Adjust if using a different module system, e.g., "es6"
  }
}
